.img-box{
    display: flex;
    margin: 0 auto;
    /* border: 2px solid black; */
 
    overflow-x: scroll;
}
.img-box::-webkit-scrollbar{
    height: 7px;
}
.img-box::-webkit-scrollbar-track {
    border-radius: 100px;
}
.img-box::-webkit-scrollbar-thumb {
  height: none;
}
.img-con{
    margin: 5px;
    padding: 2px;
    border-radius: 50%;
    border: 4px solid #ff8080;
    cursor: pointer;

    /* white-space: nowrap;
    height: 80px; */

}
.main-img{
    border-radius: 50%;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.img-box{
    width: 400px;
}