@font-face {
  font-family: a;
  src: url(../public/fonts/Fontspring-DEMO-blue_vinyl_regular_ps_ot.otf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  justify-content: center;
  display: flex;
  align-items: center;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
